@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* Hace que la página mida el doble de la pantalla */
    font-family: "Permanent Marker", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo {
    width: 100vw; /* Ocupa todo el ancho */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    display: block; /* Asegura que no tenga márgenes extra */
}
.logo {
    position: absolute; /* Lo saca del flujo normal para colocarlo encima */
    animation: aparecer 0.5s 0.4s forwards;
    transform: translateY(-100%);
    opacity: 0;
}
.titulo {
    position: absolute; /* Lo saca del flujo normal para colocarlo encima */
    font-size: 44px; 
    color: #a9ee39; 
    top:96px;
    text-shadow: -4px -4px 8px #0023579a;
    letter-spacing: 2px;
    animation: aparecer 0.5s 1.4s forwards;
    transform: translateY(-100%);
    opacity: 0;
}
@keyframes aparecer {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


@media (max-width: 432px) {
    .fondo {
        width: 900px;
        height: auto;
    }
    .titulo {
        font-size: 50px;
        text-align: center;
    }
    .titulo2 {
        top: 248px;
    }
}

.carousel {
    position: absolute;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row; /* Cambio de dirección */
    align-items: center;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
}

.item-body {
    width: 100%;
    background-color: #0023579a;
    border-radius: 8px;
    padding: 16px 20px;
    text-align: center;
}


.title {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 10px;
}

@keyframes carousel-animate-horizontal {
    0% {
        translate: 100% 0;
        scale: 0.5;
        opacity: 0;
        visibility: hidden;
    }
    3%, 11% {
        translate: 100% 0;
        scale: 0.7;
        opacity: 0.4;
        visibility: visible;
    }
    14%, 22% {
        translate: 0 0;
        scale: 1;
        opacity: 1;
        visibility: visible;
    }
    25%, 33% {
        translate: -100% 0;
        scale: 0.7;
        opacity: 0.4;
        visibility: visible;
    }
    36% {
        translate: -100% 0;
        scale: 0.5;
        opacity: 0;
        visibility: visible;
    }
    100% {
        translate: -100% 0;
        scale: 0.5;
        opacity: 0;
        visibility: hidden;
    }
}

.item {
    --animation-delay-fraction: 3s;
    animation: carousel-animate-horizontal 27s linear infinite;
    animation-delay: calc(var(--animation-delay-fraction) * (var(--index) - 1));
    opacity: 0;
}


.titulo3 {
    position: absolute; /* Lo saca del flujo normal para colocarlo encima */
    font-size: 46px; 
    color: #a9ee39; 
    top:114%;
    text-shadow: -4px -4px 8px #0023579a;
    letter-spacing: 2px;
}

.paravos {
    background-color: #57230067;
    border-radius: 8px;
    padding: 16px 20px;
    position: absolute;
    top: 146%;
    filter: drop-shadow(0 2px 2px #555);
    text-align: center;
    font-size: 28px;
    color: #a9ee39;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.paravos2 {
    background-color: #57230067;
    border-radius: 8px;
    padding: 16px 20px;
    position: absolute;
    top: 169%;
    filter: drop-shadow(0 2px 2px #555);
    text-align: center;
    font-size: 28px;
    color: #a9ee39;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}


.paravos:hover {
    background-color: #38170067;
    transform: scale(1.1);
}
.paravos2:hover {
    background-color: #38170067; /* Oscurecer el color */
    transform: scale(1.1);
}

.logos-redes {
    width: 24px;
    margin-left: 20px;
}

.catalogo-confiltro {
    background-color: #0023579a;
    width: 99%;
    padding: 5px;
    position: absolute;
    top: 32%;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.filtros {
    background-color: #0023579a;
    width: 20%;
    height: 100%;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.catalogo {
    background: linear-gradient(to right, #0023579a, #1a53ff4a, #0023579a);
    width: 80%;
    height: 100%;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.titulo-filtros {
    font-size: 22px; 
    color: #a9ee39; 
    text-shadow: 4px 4px 8px #0023579a;
    letter-spacing: 2px;
    margin-bottom: 14px;
}

.titulo-catalogo {
    color: #a9ee39; 
    text-shadow: -4px -4px 8px #0023579a;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 24px;
}

.text-filtros {
    margin-left: 6px;
    margin-bottom: 2px;
    color: #a9ee39; 
    text-shadow: -4px -4px 8px #0023579a;
    letter-spacing: 2px;
}

.columna-de-filtros {
    display: flex; 
    flex-direction:row;
    background: linear-gradient(to right, #0023579a, #1a53ff4a, #0023579a);
}

#contenido {
    flex-grow: 1; /* Hace que el contenido crezca y ocupe todo el espacio disponible */
    overflow-y: auto; /* Permite hacer scroll si el contenido crece */
}
  
.redes {
    color: #a9ee39;
    position: fixed; /* Fija el div en la parte inferior de la pantalla */
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #0023579a;
    text-align: center;
}

.formulario-cita {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 30%;
    background:linear-gradient(to right,#0023579a, #00008d78, #0023579a); 
    color: #a9ee39;
    border-radius: 12px;
    padding: 12px;
    gap: 4px;
}

.boton-cita {
    background-color: #57230067;
    border-radius: 8px;
    padding: 10px 14px;
    filter: drop-shadow(0 2px 2px #555);
    text-align: center;
    color: #a9ee39;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.boton-cita:hover {
    background-color: #38170067;
    transform: scale(1.1);
}

.comprar{
    background-color: #57230067;
    border-radius: 8px;
    padding: 10px 14px;
    filter: drop-shadow(0 2px 2px #555);
    text-align: center;
    color: #a9ee39;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}